 <div class="user-details">
  <h1>About Me</h1>
  <p> I am a cognitive neuroscientist studying adaptive memory in humans.
    <br>My research examines how changes in our internal states influence the ways in which we search for, process, and encode new information.
    <br />
    <br>I was a Postdoctoral Associate working with <a href="https://www.adcocklab.org/" target=_blank>Dr. Alison Adcock</a> at Duke University, and
        as of Sept 2024, I have started a new position at the <a href="https://medicine.nus.edu.sg/csc/" target=blank>NUS Center for Sleep & Cognition</a>! 
    <br />
    <br>For future updates, find me at <a href="https://poh-brainmemlab.github.io/BrainMemLab/" target=blank>my lab website!
  </p>
</div>
