 <div class="user-details">
  <h1> About </h1>
  <p> I am a Cognitive Neuroscientist and my research focuses on understanding how humans seek, process, and encode new information.
    Currently, I am a Postdoctoral associate in the <a href="https://www.adcocklab.org/">Motivated Memory Lab</a> at Duke University working with Dr. Alison Adcock.
    <br> I completed my PhD in the Centre for Cognitive Neuroscience at Duke-NUS (now <a href="https://medicine.nus.edu.sg/csc/">Center for Sleep and Cognition, NUS</a> 
    and the NUS <a href= "https://isep.nus.edu.sg/" Graduate School for Integrative Sciences and Engineering</a>. 
  </p>
</div>
