<style>
  img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
</style>
<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:jiahou.poh@gmail.com"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Scholar" target="_blank" href=https://scholar.google.com/citations?user=zYrPBRYAAAAJ&hl=en><i class="icon fa fa-google" aria-hidden="true"></i></a>
        <a aria-label="My Twitter" target="_blank" href=https://twitter.com/JiaHou_Poh><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href=https://github.com/JiaHou-Poh><i class="icon fa fa-github" aria-hidden="true"></i></a>
        <a aria-label="My LinkedIn" target="_blank" href=https://www.linkedin.com/in/jia-hou-poh/><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About</a>
        <!--<a class="link" href="#projects" data-scroll>Research</a>-->
        <a class="link" href="#publications" data-scroll>Publications</a>
      </div>
      <div class="images-center">
        <img alt="Headshot" src="/assets/img/JH_Poh_Head.jpg">
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
