<style>
    header {
    padding: 50px;
    text-align: center;
    background: #1C222B;
    color: white;
    font-size: 30px;
  }
  </style>
<header>
    <p><b>Jia-Hou Poh, Ph.D.</b></p>
    <div class="header-icons">
        <a aria-label="Send email" href="mailto:jiahou.poh@gmail.com"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Scholar" target="_blank" href=https://scholar.google.com/citations?user=zYrPBRYAAAAJ&hl=en><i class="icon fa fa-google" aria-hidden="true"></i></a>
        <a aria-label="My Twitter" target="_blank" href=https://twitter.com/JiaHou_Poh><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href=https://github.com/JiaHou-Poh><i class="icon fa fa-github" aria-hidden="true"></i></a>
        <a aria-label="My LinkedIn" target="_blank" href=https://www.linkedin.com/in/jia-hou-poh/><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
      </div>
</header>

