<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Figure1" src="{{ "/assets/img/AnticipatoryState.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Neuromodulatory influence on learning and memory </h3>
    <p>Curiosity is an intrinsic motivation that not only drives our desire to seek and consume information, but also enhances new learning. In this work, 
      we showed that when participants experienced high curiosity, anticipatory activation of the dopaminergic midbrain promoted the engagement of hippocampal state
      that was predictive of subsequent learning. These findings highlighted a potential mechanism for mesolimbic neuromodulation of the hippocampus and showed
      how intrinsic motivations can facilitate new learning.
    </p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Figure2" src="{{ "/assets/img/NeuralInstability.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Effects of sleep deprivation on the quality of encoding</h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>It is well-established that sleep plays a crucial role in supporting wakeful cognition, and it has been theorized that homeostatic processes during sleep may be
      necessary for maintaining the stability of neural activity. In this study, we examined if humans in a sleep-deprived state would show reduced stability in fMRI
      activation patterns, and how this relates to the quality of memory formation. Here, we showed that sleep deprivation reduces neural stability in perceptual processing
      regions and also in the medial temporal lobe. This reduced stability was also associated with poorer memory. These findings provided the first evidence of neural 
      instability in sleep-deprived humans, and that reduced neural stability in the sleep-deprived state can fundamentally change the quality of memory encoding.
    </p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>